In [ ]:
anas_alii = [-10, -5, 0, 5, 10]
positive_numbers = list(filter(lambda x: x >= 0, anas_alii))
print("Positive numbers:", positive_numbers)

Positive numbers: [0, 5, 10]

In [ ]:
anas_alii = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, anas_alii))
print("Doubled numbers:", doubled_numbers)

Doubled numbers: [2, 4, 6, 8, 10]

In [ ]:
anas_alii = ["apple", "banana", "cherry", "date", "grape"]
long_fruits = list(filter(lambda x: len(x) > 5, anas_alii))
print("Fruits with more than 5 characters:", long_fruits)

Fruits with more than 5 characters: ['banana', 'cherry']

In [ ]:
anas_alii = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_evens = list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, anas_alii)))
print("Squares of even numbers:", squared_evens)

Squares of even numbers: [4, 16, 36, 64, 100]

In [ ]:
anas_alii = [0, 10, 20, 30, 40]
temperatures_in_fahrenheit = list(map(lambda c: (c * 9 / 5) + 32, anas_alii))
print("Temperatures in Fahrenheit:", temperatures_in_fahrenheit)

Temperatures in Fahrenheit: [32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
anas_alii = [3, 6, 9, 12, 15, 18]
doubled_odds = list(map(lambda x: x * 2, filter(lambda x: x % 2 != 0, anas_alii)))
print("Doubled values of odd numbers:", doubled_odds)

Doubled values of odd numbers: [6, 18, 30]

In [ ]:
anas_alii = ["Alice", "Bob", "Charlie", "David", "Emily"]
list(map(lambda name: print(f"{name}!"), anas_alii))

Alice!
Bob!
Charlie!
David!
Emily!

[None, None, None, None, None]